---
import type { Props } from "@astrojs/starlight/props";
import Default from '@astrojs/starlight/components/PageTitle.astro';
// import { Tabs, TabItem } from '@astrojs/starlight/components';
import cem from '@connectedhomes/nucleus/custom-elements.json';

const title = Astro.props.entry.data.title;
const compDetails = cem.tags.find((tag) => tag.name === title);

const { slug } = Astro.params;
const slugRoot = `/${slug}`;
const isComponentPage = slug?.indexOf('components/ns') > -1;
const overviewLink = `/components/${title}`;
const guidanceLink = `/components/${title}/guidance`;
const implementationLink = `/components/${title}/implementation`;
---

<Default {...Astro.props}></Default>

{
  isComponentPage && (
    <div class="component-tabs">
      <ul role="tablist">
        <li role="presentation" class="component-tab">
        <a role="tab" href={overviewLink} aria-selected={slugRoot === overviewLink} tabindex='0'>Overview</a>
        </li>
        <li role="presentation" class="component-tab">
        <a role="tab" href={guidanceLink} aria-selected={slugRoot === guidanceLink} tabindex='0'>Guidance</a>
        </li>
        <li role="presentation" class="component-tab">
        <a role="tab" href={implementationLink} aria-selected={slugRoot === implementationLink} tabindex='0'>Implementation</a>
        </li>
      </ul>
    </div>
  )
}

<style>
  .component-tabs {
    [role='tablist'] {
      display: flex;
      list-style: none;
      padding: 1rem;
      border: 2px solid grey;
      background-color: #557fa0;
      border-radius:35px;
    }

    .component-tab {
      margin-bottom: -2px;
    }
    .component-tab > [role='tab'] {
      display: block;
      font-size: 22px;
      font-weight: bold;
      padding: 0 1.25rem;
      text-decoration: none;
      color: var(--sl-color-gray-3);
      outline-offset: var(--sl-outline-offset-inside);
      color: white;
      border-radius: 20px;
      &[aria-selected] {
        background-color: #B94663;
      }
    }
  }
</style>
