---
import { logos } from 'virtual:starlight/user-images';
import config from 'virtual:starlight/user-config';
import { Icon } from '@astrojs/starlight/components';
import type { Props } from "@astrojs/starlight/props";

import { EditLink, LastUpdated, Pagination } from 'virtual:starlight/components';

const { slug } = Astro.params;
const pageSlug = Astro.props.slug;
const issueURL = 'https://github.com/centrica-engineering/nucleus-docs/issues/new';
const viewURL = 'https://github.com/centrica-engineering/nucleus-docs/blob/astro-docs/src/content/docs/';
---

<footer>
  <div class="page-footer">
    <h3>Found a problem with the content on this page?</h3>
    <ul>
      <li><EditLink {...Astro.props} /></li>
      <li>
        <a href={`${issueURL}?assignees=&amp;labels=Type: Bug&amp;title=%5B${pageSlug}%5D`} target="_blank" rel="noopener noreferrer">
          Report the content issue
          <Icon name="external" size="1em" />
        </a>
      </li>
      <li>
        <a href={`${viewURL}${pageSlug}.mdx`} target="_blank" rel="noopener noreferrer">
          View this page on Github
          <Icon name="external" size="1em" />
        </a>
      </li>
    </ul>
    <p>Want to get more involved with Nucleus Docs? <a href="#!">Learn how to contribute</a>.</p>
    <LastUpdated {...Astro.props} />

    <div class="logo">
      {
        config.logo && logos.dark && (
          <>
            <img
              class:list={{ 'light:sl-hidden': !('src' in config.logo) }}
              alt={config.logo.alt}
              src={logos.dark.src}
              width={logos.dark.width}
              height={logos.dark.height}
            />
            {/* Show light alternate if a user configure both light and dark logos. */}
            {!('src' in config.logo) && (
              <img
                class="dark:sl-hidden"
                alt={config.logo.alt}
                src={logos.light?.src}
                width={logos.light?.width}
                height={logos.light?.height}
              />
            )}
          </>
        )
      }
      <span class:list={{ 'sr-only': config.logo?.replacesTitle }}>
        {config.title}
      </span>
    </div>

  </div>
  <Pagination {...Astro.props} />
</footer>

<style>
  footer {
    height: 80vh;
  }

  .page-footer {
    position: relative;
    background-color: var(--sl-color-gray-7);
    padding-inline-start: var(--sl-content-pad-x);
    padding-inline-end: var(--sl-content-pad-x);
    padding-block-start: var(--sl-content-pad-x);
    padding-block-end: calc(var(--sl-content-pad-x) * 2);
    border-style: solid;
    border-width: 2px;
    border-color: var(--sl-color-gray-6);
    border-radius: 0.5rem;

    h3, p, ul {
      margin-block-end: 1rem;
    }

    li {
      margin-block-start: 0.25em;
      margin-block-end: 0.25em;
    }

    a {
      color: var(--sl-color-gray-3);
    }

    a:hover {
      color: var(--sl-color-white);
    }
  }

  .logo {
    position: absolute;
    width: 10rem;
    right: var(--sl-content-pad-x);
    bottom: calc(var(--sl-content-pad-x) / 2);

    img {
      display: block;
      width: 100%;
    }
  }
</style>
