---
import type { Props } from "@astrojs/starlight/props";
import { Icon } from '@astrojs/starlight/components';
import TableOfContentsList from './TableOfContents/TableOfContentsList.astro';
import { Image } from "astro:assets";

const { labels, toc } = Astro.props;
const { slug } = Astro.params;

const mastheadImages = import.meta.glob("../../assets/masthead/**/*");
const mastheadImage = mastheadImages[`../../assets/masthead/${slug}.svg`];
---

{
  mastheadImage && (
    <div class="decoration">
      <Image src={mastheadImage()} alt="" {...Astro.props} />
    </div>
  )
}

{
	toc && (
		<nucleus-toc data-min-h={toc.minHeadingLevel} data-max-h={toc.maxHeadingLevel}>
			<nav aria-labelledby="starlight__on-this-page">
				<h2 id="starlight__on-this-page">{labels['tableOfContents.onThisPage']}</h2>
				<TableOfContentsList toc={toc.items} />
			</nav>
		</nucleus-toc>
	)
}

<nav aria-labelledby="sidebar-contribute">
  <h2 id="sidebar-contribute">Contribute</h2>
  <ul>
    <li><a href="/edit-this-page/"><Icon name="pencil" />Suggest changes</a></li>
    <li><a href="/feedback/"><Icon name="pen" />Feedback</a></li>
  </ul>
</nav>
<script src="../observer/NucleusTOC.js"></script>

<style>
  .decoration {
    background-color: var(--ns-color-teal);
    margin-block-start: var(--sl-content-pad-x);
    margin-inline-end: 1px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      margin-block: 0.625rem;
      width: 36px;
      height: 36px;
    }
  }

  nav {
    margin-block: 1.5rem;
  }
  ul {
    padding: 0;
    list-style: none;
  }
  a {
    display: block;
    border-radius: 0.25rem;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    line-height: 1.25;
  }
  a[aria-current="true"],
  a[aria-current="true"]:hover,
  a[aria-current="true"]:focus {
    font-weight: 600;
    color: var(--sl-color-text-invert);
    background-color: var(--sl-color-text-accent);
  }
</style>
