---
import CodeSnippet from './CodeSnippet.astro';
import ExampleRenderer from './ExampleRenderer.astro';
import { NucleusComponentRenderer } from './NucleusComponentRenderer';

const { slug } = Astro.params;
const isComponentPage = (slug ?? '').indexOf('components/ns') > -1;

const { type } = Astro.props;
const exampleFileMatcher = `/assets/examples/${slug}/${type}.js`;

const examples = import.meta.glob("../assets/examples/**/*");
const htmlFile = Object.keys(examples).find((example) => example?.endsWith(exampleFileMatcher));
const htmlContent = await examples[htmlFile]?.().then((value) => value.default);
---

<div>
  {
    isComponentPage && (
      <a href=`/configure/${slug}/${type}` rel="noopener nofollow" target="_blank">Configure</a>
    )
  }

  <NucleusComponentRenderer src={htmlContent} client:visible />
    
  <CodeSnippet>
    <Fragment slot="template" set:html={htmlContent} />
  </CodeSnippet>
</div>
