---
const exampleHTML = await Astro.slots.render('template').then((value) => value);

const randomId = Math.round(Math.random() * 100);
const htmlSnippet = `
  <head>
    <script src="https://www.britishgas.co.uk/nucleus/nucleus.min.js" type="text/javascript"></script>
  </head>
  <body>
    <main class="ndsn">
      <ns-panel>
        <div>
          ${exampleHTML}
        </div>
      </ns-panel>
    </main>
  </body>
`;
---

<script>
  window.onload = function () {
    const iframes = document.querySelectorAll('.example-iframe');
    iframes.forEach((iframe) => {
        iframe.height = iframe.contentWindow.document.body.scrollHeight + "px !important;";
    });
  };
</script>

<div class=`example example-${randomId} not-content`>
  <div class=`preview preview-${randomId}`>
    <iframe
      srcdoc={htmlSnippet}
      class=`example-iframe iframe-${randomId}`
      height="100%"
      allowfullscreen
      sandbox="allow-scripts allow-same-origin"
    ></iframe>
  </div>
</div>

<style>
  .example {
    background: #fff;
    border-start-start-radius: 0.5rem;
    border-start-end-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--sl-color-gray-6);
  }

  .example-iframe {
    border: none;
    transform: scale(0.75);
    transform-origin: 0 0;
    max-width: initial !important;
    width: 133% !important;
  }
</style>