---
import { NucleusComponentRenderer } from './NucleusComponentRenderer';
import { NucleusCodeSnippet } from './NucleusCodeSnippet';

const { slug } = Astro.params;
const isComponentPage = (slug ?? '').indexOf('components/ns') > -1;

const { type } = Astro.props;
const exampleFileMatcher = `/assets/examples/${slug}/${type}.html`;

const examples = import.meta.glob("../assets/examples/**/*.html", { import: 'default', as: 'raw', eager: true});
const htmlFile = Object.keys(examples).find((example) => example?.endsWith(exampleFileMatcher));
const htmlContent = await examples[htmlFile];
---

<div>
  {
    isComponentPage && (
      <a href=`/configure/${slug}/${type}` rel="noopener nofollow" target="_blank">Configure</a>
    )
  }

  <NucleusComponentRenderer src={htmlContent} />
  <NucleusCodeSnippet src={htmlContent} client:visible />
</div>
