---
const exampleHTML = await Astro.slots.render('template').then((value) => value);

const randomId = Math.round(Math.random() * 100);
const htmlSnippet = `
  <head>
    <script src="https://www.britishgas.co.uk/nucleus/nucleus.min.js" type="text/javascript"></script>
  </head>
  <body>
    <main class="ndsn">
      <ns-panel>
        <div>
          ${exampleHTML}
        </div>
      </ns-panel>
    </main>
  </body>
`;
---

<script>
  const sliders = document.querySelectorAll('.slider');
  sliders?.forEach((slider) => {
    slider.addEventListener('mousemove', (event) => {
      event.preventDefault();
      if (slider.getAttribute('selected') !== 'true') {
        return;
      }
      const iframeContainer = document.querySelector(`.preview-${slider.id}`);
      const iframe = document.querySelector(`.iframe-${slider.id}`);
      if (iframeContainer) {
        const iframeHeight = iframeContainer?.style?.minHeight?.replace('px', '');
        const initialHeight = parseInt(iframeHeight) || 275;
        iframeContainer.style.minHeight = `${Math.max(initialHeight + event.movementY, 200)}px`;
        iframe.style.minHeight = `${Math.max(initialHeight + event.movementY, 200)}px`;
      }
    });

    slider.addEventListener('mousedown', (event) => {
      slider.setAttribute('selected', 'true');
    });

    slider.addEventListener('mouseup', (event) => {
      slider.removeAttribute('selected');
    });

    slider.addEventListener('mouseleave', (event) => {
      slider.removeAttribute('selected');
    });
  });

  window.onload = function () {
    const examples = document.querySelectorAll('.example');
    examples.forEach((example) => {
      const iframe = example.querySelector('iframe');
      iframe.height = iframe.contentWindow.document.body.scrollHeight + "px !important;";
      const tabId = example.parentElement?.getAttribute('aria-labelledby');
      if (tabId) {
        const tab = document.getElementById(tabId);
        tab?.addEventListener('click', (event) => {
          iframe.height = iframe.contentWindow.document.body.scrollHeight + "px !important;";
        });
      }
    });
  }
  
</script>

<div class=`example example-${randomId} not-content`>
  <div class=`preview preview-${randomId}`>
    <iframe
      srcdoc={htmlSnippet}
      class=`example-iframe iframe-${randomId}`
      height="100%"
      allowfullscreen
      sandbox="allow-scripts allow-same-origin"
    ></iframe>
  </div>
</div>

<style>
  .example {
    background: #fff;
    border-start-start-radius: 0.5rem;
    border-start-end-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--sl-color-gray-6);
  }

  .example-iframe {
    border: none;
    transform: scale(0.75);
    transform-origin: 0 0;
    max-width: initial !important;
    width: 133% !important;
  }

  .slider {
    cursor: ns-resize;
    width: 100%;
    text-align: center;
    background: #eee;
    user-select: none;
    color: #666;
    border: none;
  }

  .slider:active {
    background: #ccc;
  }

  .slider:active::after {
    content: '';
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
  }
</style>