---
import type { Props } from "@astrojs/starlight/props";
import Default from '@astrojs/starlight/components/PageTitle.astro';
import { Image } from "astro:assets";

const toc = Astro.props.toc;
const { slug } = Astro.params;
const isComponentPage = (slug ?? '').indexOf('components/ns') > -1;
const componentName = Astro.props.slug?.replace('components/', '');
const mastheadImages = import.meta.glob("../assets/masthead/**/*");
const mastheadImage = mastheadImages[`../assets/masthead/${slug}.svg`];

const sectionTabImages = import.meta.glob("../assets/sectiontab/*");
const mastheadFolder = slug?.split('/')[0];
---

<div class=`masthead ${mastheadFolder}`>
  <div class="title">
    <Default {...Astro.props}></Default>
    {!isComponentPage ? <code class="folder">{mastheadFolder}</code> : null}
    {
      isComponentPage && (
        <code>&lt;{componentName}&gt;</code>
      )
    }
  </div>
  {
    mastheadImage && (
      <div class="decoration">
        <Image src={mastheadImage()} alt="" {...Astro.props} />
      </div>
    )
  }
</div>

{
  isComponentPage && toc?.items?.length > 0 && (
    <section-tabs>
      <div class="section-tabs">
        {
        toc.items.filter((toc) => toc.text !== 'Top').map((toc) => {
          return (
            <a class=`section-tab ${toc.slug}` href=`#${toc.slug}`>
              <span>{toc.text}</span>
            </a>
            )
        })
      }
    </div>
  </section-tabs>
  )
}

<script src="./observer/NucleusSectionTabs"></script>

<style>
  .masthead {
    background-color: var(--ns-color-teal);
    margin-block-start: var(--sl-content-pad-x);
    margin-inline-start: var(--sl-content-pad-x);
    margin-inline-end: var(--sl-content-pad-x);
    padding-inline-start: var(--sl-content-pad-x);
    padding-inline-end: var(--sl-content-pad-x);
    border-radius: 1.25rem;
    display: flex;
    min-height: 90px;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: calc(var(--sl-content-pad-x) * -1);
      right: 0;
      bottom: 0;
      left: 0;
      height: var(--sl-content-pad-x);
      background-color: var(--sl-color-bg);
    }

    &.components {
      background-color: var(--ns-color-masthead-components);
    }

    &.guidelines {
      background-color: var(--ns-color-masthead-guidelines);
      .folder {
        display: inline-block;

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }

    &.patterns {
      background-color: var(--ns-color-masthead-patterns);
      .folder {
        display: inline-block;

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }

    &.page-types {
      background-color: var(--ns-color-masthead-page-types);
      .folder {
        display: inline-block;

        &:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }

  .title {
    color: var(--ns-color-white);

    h1 {
      color: inherit;
      line-height: 1.16666;
    }

    code {
      font-size: var(--sl-text-h4);
    }
  }

  .decoration {
    margin-block-start: 1rem;
    margin-inline-start: auto;
    width: 58px;
    height: 58px;

    /* NOTE: @drew - 2024-01-09 - overriding the inline styles for the image */
    img {
      width: 100% !important;
      height: 100% !important;
    }
  }

  section-tabs {
    display: block;
    overflow: hidden;
    position: sticky;
    top: var(--sl-nav-height);
    z-index: 1;
    background-color: var(--sl-color-bg);
  }

  .section-tabs {
    background-color: var(--sl-color-gray-7);
    margin-inline-start: var(--sl-content-pad-x);
    margin-inline-end: var(--sl-content-pad-x);
    margin-block-end: var(--sl-content-pad-x);
    border-radius: 100px; /* NOTE: @drew - 2024-01-05 - random high number to get rounded ends */
    transform: translateY(var(--sl-content-pad-x));

    [href="#_top"] {
      display: none;
    }
  }

  .section-tab {
    color: var(--sl-color-gray-2);
    text-decoration: none;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-inline-start: 48px;
    padding-inline-end: 32px;
    padding-block: 16px;
    font-size: var(--sl-text-base);
    border-radius: 100px; /* NOTE: @drew - 2024-01-05 - random high number to get rounded ends */
    transition-property: background-color;
    transition-delay: 0ms;
    transition-duration: 1000ms;
    transition-timing-function: ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 1em;
      transform: translateY(-50%);
      width: 1.5em;
      height: 1.5em;
      background-color: currentColor;
    }

    &.overview {
      &::before {
        mask-image: var(--ns-section-tab-overview);
      }
    }

    &.implementation {
      &::before {
        mask-image: var(--ns-section-tab-implementation);
      }
    }

    &.guidance {
      &::before {
        mask-image: var(--ns-section-tab-guidance);
      }
    }

    &.accessibility {
      &::before {
        mask-image: var(--ns-section-tab-accessibility); 
      }
    }

    &:hover {
      color: var(--sl-color-gray-1);
    }

    &[aria-current] {
      background-color: var(--sl-color-gray-6);
    }
  }

  @media (width < 72rem) {
    .section-tabs {
      display: none;
    }
  }

  @media (min-width: 50rem) {
    .masthead {
      min-height: 104px;
    }

    .decoration {
      width: 72px;
      height: 72px;
    }
  }
</style>
