---
import type { Props } from "@astrojs/starlight/props";
import Default from '@astrojs/starlight/components/PageTitle.astro';
import { Image } from "astro:assets";

const toc = Astro.props.toc;
const { slug } = Astro.params;
const isComponentPage = (slug ?? '').indexOf('components/ns') > -1;
const componentName = Astro.props.slug?.replace('components/', '');
const mastheadImages = import.meta.glob("../assets/masthead/**/*");
const mastheadImage = mastheadImages[`../assets/masthead/${slug}.svg`];

const sectionTabImages = import.meta.glob("../assets/sectiontab/*");
---

<div class="page-title">
  <div class="title">
    <Default {...Astro.props}></Default>
    {
      isComponentPage && (
        <code>&lt;{componentName}&gt;</code>
      )
    }
  </div>
  {
    mastheadImage && (
      <div class="decoration">
        <Image src={mastheadImage()} alt="" {...Astro.props} />
      </div>
    )
  }
</div>

{
  isComponentPage && toc?.items?.length > 0 && (
    <section-tabs>
      <div class="section-tabs">
        {
          toc.items.filter((toc) => toc.text !== 'Top').map((toc) => {
            const sectionTabImage = sectionTabImages[`../assets/sectiontab/${toc.text?.toLowerCase()}.svg`];
            return (
              <a class="section-tab" href=`#${toc.slug}`>
                <Image src={sectionTabImage()} alt="" {...Astro.props} />
                <span>{toc.text}</span>
              </a>
              )
          })
        }
      </div>
    </section-tabs>
  )
}

<script src="./NucleusSectionTabs"></script>

<style>
  .page-title {
    background-color: var(--ns-color-teal);
    color: var(--ns-color-white);
    padding-inline-start: var(--sl-content-pad-x);
    padding-inline-end: var(--sl-content-pad-x);
    border-radius: 1.25rem;
    display: flex;
    align-items: center;

    .title {
      margin-block: 1rem;
    }

    h1 {
      margin-top: 0;
      color: var(--ns-color-white);
    }

    code {
      font-size: var(--sl-text-3xl);
    }

    .decoration {
      margin-inline-start: auto;
      width: 64px;
      height: 64px;

      /* NOTE: @drew - 2024-01-09 - overriding the inline styles for the image */
      img {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  .section-tabs {
    background-color: var(--sl-color-gray-7);
    margin-block-start: var(--sl-content-pad-x);
    border-radius: 100px; /* NOTE: @drew - 2024-01-05 - random high number to get rounded ends */
    
    [href="#_top"] {
      display: none;
    }

    a {
      color: var(--sl-color-gray-2);
      text-decoration: none;
      font-weight: 500;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .section-tab {
    position: relative;
    display: inline-block;
    padding-inline-start: 48px;
    padding-inline-end: 32px;
    padding-block: 16px;
    border-radius: 100px; /* NOTE: @drew - 2024-01-05 - random high number to get rounded ends */
  }

  .section-tab img {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    width: 1.25em;
    height: 1.25em;
  }

  .section-tab[aria-current] {
    background-color: var(--sl-color-gray-6);
  }

  .section-tab:hover::before,
  .section-tab:focus::before {
    background-color: var(--sl-color-gray-2);
  }


  @media (min-width: 50rem) {
    .page-title {
      .decoration {
        width: 80px;
        height: 80px;
      }
    }
  }
</style>
