---
const { name } = Astro.props;
import jsdoc from "@connectedhomes/nucleus/ce-doc.json";
const placements = jsdoc.find((tag) => tag.name === name)?.placements;
---
{
  placements?.length > 0 && (
    placements.length > 1 ?(
      <p>The <code>{name}</code> component can be used in the following components:</p>
      <ul>
        {placements?.map((placement) => {
          if (placement.indexOf(' > ') > -1) {
            const placementTree = placement.split(' > ');
            return <li><code>&lt;{placementTree[1]}&gt;</code> wrapped in <code>&lt;{placementTree[0]}&gt;</code></li>;
          }
          return <li><code>&lt;{placement}&gt;</code></li>;
        })}
      </ul>
    ) : (
      <p>The <code>{name}</code> component can only be used as a child of the <code>&lt;{placements.toString()}&gt;</code> element.</p>
    )
  )
}

