---
const { name } = Astro.props;
import cem from "@connectedhomes/nucleus/custom-elements.json";
import jsdoc from "@connectedhomes/nucleus/ce-doc.json";

const compDetails = cem.tags.find((tag) => tag.name === name);
const jsdocDetails = jsdoc.find((tag) => tag.name === name);

const attributes = compDetails?.attributes;
const properties = compDetails?.properties;
const slots = jsdocDetails?.slots;
const events = compDetails?.events;
---
<style>
.spec {
  td {
    border-bottom-width: 0;
    border-left-width: 0;
    border-right-width: 0;
  }

  th {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
  }
}
</style>
  
{
  properties?.length > 0 && (
    <h4 id="attributes">Attributes</h4>
    <table class="spec">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Property</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {
          properties?.map((property) => {
            if (!property.attribute || ['slottedStyles'].includes(property.name)) {
              return undefined;
            }
            const defaultValue = property.default?.replaceAll('"', '');
            return (
              <tr>
                <td><code>{property.attribute}</code></td>
                <td><code>{property.name}</code></td>
                <td>{property.type?.split('|')?.map((type) => <span><code>{type.replaceAll('"','')}</code>&#32;</span>)}</td>
                <td>{ defaultValue ? <code>{defaultValue}</code> : ''}</td>
                <td>{property.description}</td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  )
}
{
  slots?.length > 0 && (
    <h4 id="slots">Slots</h4>
    <table class="spec">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Permitted tags</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {
          slots?.map((slot) => {
            return (
              <tr>
                <td>{slot.name ? <code>{slot.name}</code> : 'Anonymous slot' }</td>
                <td>
                  {slot.permittedTagNames?.map((tag) => <span><code>&lt;{tag}&gt;</code>&#32;</span>)}
                </td>
                <td>{slot.description}</td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  )
}

{
  events?.length > 0 && (
    <h4 id="events">Events</h4>
    <table class="spec">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {
          events?.map((event) => {
            return (
              <tr>
                <td><code>{event.name}</code></td>
                <td>{event.description}</td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  )
}
