---
import LinkToComponent from "./LinkToComponent.astro";
const { name } = Astro.props;

import { customElements, ceJsDoc } from "../scripts/custom-elements";

const compDetails = customElements.tags.find((tag) => tag.name === name);
const jsdocDetails = ceJsDoc.find((tag) => tag.name === name);

const properties = compDetails?.properties;
const slots = jsdocDetails?.slots;
const events = compDetails?.events;
---

<style>
  .spec {
    th {
      border-block-start-width: 0;
      border-block-end-width: 2px;
      border-inline-start-width: 0;
      border-inline-end-width: 0;
    }

    td {
      border-block-start-width: 0;
      border-block-end-width: 1px;
      border-inline-start-width: 0;
      border-inline-end-width: 0;
    }
  }

  h5 {
    font-size: var(--sl-text-code) !important;
  }
</style>

{ 
  properties?.length > 0 &&  (
    <h4 id="specification-attributes">
      Attributes
      <a aria-hidden="true" tabindex="-1" href="#specification-attributes"><span class="icon icon-link"></span></a>
    </h4>
    <div class="description-list">
      {
        properties?.map((property) => {
          if (!property.attribute || property.deprecated || ['slottedStyles'].includes(property.name)) {
            return undefined;
          }
          const defaultValue = property.default?.replaceAll('"', '');
          return (
            <h5 id={`specification-attribute-${property.attribute}`}>
              <code>{property.attribute}</code>
              <a aria-hidden="true" tabindex="-1" href={`#specification-attribute-${property.attribute}`}><span class="icon icon-link"></span></a>
            </h5>
            <dl>
              <div>
                <dt>Property</dt>
                <dd><code>{property.name}</code></dd>
              </div>
              {
                property.description && (
                <div>
                  <dt>Description</dt>
                  <dd>{property.description ?? ''}</dd>
                </div>
                )
              }
              {
                property.type?.indexOf('|') > -1 ? (
                  <div>
                    <dt>Type</dt>
                    <dd><span><code>string</code>&#32;</span></dd>
                  </div>
                  <div>
                    <dt>Options</dt>
                    <dd>{property.type?.split('|')?.map((type) => <span><code>{type !== '""' ? type.replaceAll('"','') : "''"}</code>&#32;</span>)}</dd>
                  </div>
                ) : (
                  <div>
                    <dt>Type</dt>
                    <dd>{property.type ? <span><code>{property.type.replaceAll('"','')}</code>&#32;</span> : <> </>} </dd>
                  </div>
                )
              }
              {
                (property.name === 'icon' || (name === 'ns-icon' && property.name === 'name') || (name !== 'ns-icon' && property.description?.includes('icon'))) 
                && (
                  <div>
                    <dt>Options</dt>
                    <dd>Refer to our <a href="/guidelines/assets/#icons">icons</a>.</dd>
                  </div>
                )
              }
              {
                (property.name === 'illustration' || (name === 'ns-illustration' && property.name === 'name') || (property.description?.includes('illustration'))) 
                && (
                  <div>
                    <dt>Options</dt>
                    <dd>Refer to our <a href="/guidelines/assets/#illustrations">illustrations</a>.</dd>
                  </div>
                )
              }
              {
                property.default && (
                  <div>
                    <dt>Default</dt>
                    <dd>{ defaultValue ? <code>{defaultValue}</code> : ''}</dd>
                  </div>
                )
              }
            </dl>
          );
        })
      }
    </div>
  )
}

{
  slots?.length > 0 && (
    <h4 id="specification-slots">
      Slots
      <a aria-hidden="true" tabindex="-1" href="#specification-slots"><span class="icon icon-link"></span></a>
    </h4>
    <table class="spec">
      <thead>
        <tr>
          <th>Slot</th>
          <th>Permitted tags</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {
          slots?.map((slot) => {
            return (
              <tr>
                <td>{slot.name ? <code>{slot.name}</code> : 'Anonymous slot' }</td>
                <td>
                  {slot.permittedTagNames?.map((tag) => <span><LinkToComponent name={tag}/>&#32;</span>)}
                </td>
                <td>{slot.description}</td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  )
}

{
  events?.length > 0 && (
    <h4 id="specification-events">
      Events
      <a aria-hidden="true" tabindex="-1" href="#specification-events"><span class="icon icon-link"></span></a>
    </h4>
    <table class="spec">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {
          events?.map((event) => {
            return (
              <tr>
                <td><code>{event.name}</code></td>
                <td>{event.description}</td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  )
}
