---
const { name } = Astro.props;
import cem from "@connectedhomes/nucleus/custom-elements.json";
import jsdoc from "@connectedhomes/nucleus/ce-doc.json";

const compDetails = cem.tags.find((tag) => tag.name === name);
const jsdocDetails = jsdoc.find((tag) => tag.name === name);

const properties = compDetails?.properties;
const slots = jsdocDetails?.slots;
const events = compDetails?.events;
---

{ 
  properties?.length > 0 &&  (
    <h4 id="attributes">Attributes</h4>
    <div class="spec-list">
      {
        properties?.map((property) => {
          if (['slottedStyles'].includes(property.name)) {
            return undefined;
          }
          return (
            <p><code>{property.attribute}</code></p>
            <dl>
              <div>
                <dt>Property</dt>
                <dd><code>{property.name}</code></dd>
              </div>
              {
                property.description && (
                <div>
                  <dt>Description</dt>
                  <dd>{property.description ?? ''}</dd>
                </div>
                )
              }
              <div>
                <dt>Type</dt>
                <dd>{property.type?.split('|')?.map((type) => <span><code>{type.replaceAll('"','')}</code>&#32;</span>)}</dd>
              </div>
              {
                property.default && (
                  <div>
                    <dt>Default</dt>
                    <dd><code>{property.default?.replaceAll('"', '')}</code></dd>
                  </div>
                )
              }
            </dl>
          );
        })
      }
    </div>
  )
}

{
  slots?.length > 0 && (
    <h4 id="slots">Slots</h4>
    <div class="spec-list">
      {
        slots?.map((slot) => {
          return (
            <dl>
              <p>{slot.name ? <code>{slot.name}</code> : <span>Anonymous slot</span> }</p>
              <div>
                <dt>Permitted tags</dt>
                <dd>{slot.permittedTagNames?.map((tag) => <span><code>&lt;{tag}&gt;</code>&#32;</span>)}</dd>
              </div>
              <div>
                <dt>Description</dt>
                <dd>{slot.description}</dd>
              </div>
            </dl>
          );
        })
      }
    </div>
  )
}

{
  events?.length > 0 && (
    <h4 id="events">Events</h4>
    <div class="spec-list">
      {
        events?.map((event) => {
          return (
            <dl>
              <p><code>{event.name}</code></p>
              <div>
                <dt>Description</dt>
                <dd>{event.description}</dd>
              </div>
            </dl>
          );
        })
      }
    </div>
  )
}
