---
const { name } = Astro.props;
import cem from "@connectedhomes/nucleus/custom-elements.json";
import jsdoc from "@connectedhomes/nucleus/ce-doc.json";

const compDetails = cem.tags.find((tag) => tag.name === name);
const jsdocDetails = jsdoc.find((tag) => tag.name === name);

const attributes = compDetails?.attributes;
const properties = compDetails?.properties;
const slots = jsdocDetails?.slots;
const events = compDetails?.events;
---
{ 
  attributes?.length > 0 &&  (
    <div class="spec-list">
      {
        attributes?.map((attribute) => {
          return (
            <p><code>{attribute.name}</code></p>
            <dl>
              <div>
                <dt>Description</dt>
                <dd>{attribute.description ?? ''}</dd>
              </div>
              <div>
                <dt>Property</dt>
                <dd><code>{attribute.name}</code></dd>
              </div>
              <div>
                <dt>Type</dt>
                <dd>
                  <code>{attribute.type?.replaceAll('"', ' ')}</code>
                  Default: <code>{attribute.default?.replaceAll('"', '')}</code>
                </dd>
              </div>
            </dl>
          );
        })
      }
    </div>
  )
}

{
  properties?.length > 0 && (
    <h4 id="properties">Properties</h4>
    <table>
      <thead>
        <tr>
          <th>Property</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {
          properties?.map((property) => {
            if (['slottedStyles'].includes(property.name)) {
              return undefined;
            }
            return (
              <tr>
                <td><code>{property.name}</code></td>
                <td>{property.type?.replaceAll('"', ' ')}</td>
                <td>{property.default?.replaceAll('"', '')}</td>
                <td>{property.description}</td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  )
}

{
  slots?.length > 0 && (
    <h4 id="slots">Slots</h4>
    <table>
      <thead>
        <tr>
          <th>Slot</th>
          <th>Permitted tags</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {
          slots?.map((slot) => {
            return (
              <tr>
                <td>{slot.name ? <code>{slot.name}</code> : 'anonymous' }</td>
                <td>
                  {slot.permittedTagNames?.map((tag) => <span><code>&lt;{tag}&gt;</code>  </span>)}
                </td>
                <td>{slot.description}</td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  )
}

{
  events?.length > 0 && (
    <h4 id="events">Events</h4>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        {
          events?.map((event) => {
            return (
              <tr>
                <td><code>{event.name}</code></td>
                <td>{event.description}</td>
              </tr>
            );
          })
        }
      </tbody>
    </table>
  )
}
