---
import { size } from "@scripts/tokens";

const { type } = Astro.props;
---

<slot />

{
  size &&
    type &&
    size[type] &&
    size[type].map(([key, value], i) => {
      const style = `--ns-width: ${value};`;
      const labelValue = key.substring(key.lastIndexOf("_") + 1, key.length);
      return (
        <div class={`ns-size width`}>
          <div class="swatch" style={style} />
          <span class="name">{labelValue}</span>
          <span class="value">
            <code>{value}</code>
          </span>
          <span>
            <code>{key}</code>
          </span>
        </div>
      );
    })
}

<style>
  .ns-size {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;

    .name {
      font-size: 1.25rem;
      font-weight: 500;
      text-transform: lowercase;
      min-width: 10ch;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    &.width {
      .swatch {
        height: var(--ns-width);
        width: 2.5rem;
        background: var(--sl-color-gray-5);
      }
    }
  }

  .swatch {
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
  }
</style>
