---
import { typography } from '@scripts/tokens';

const { level } = Astro.props;

const typographyClass = typography[level];
---

<slot />

<div class="spec-list">
  <p><code>font-family</code></p>
  <dl>
    <div>
      <dt>Value</dt>
      <dd><code>{typographyClass[`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_FAMILY`]}</code></dd>
    </div>
    <div>
      <dt>Token</dt>
      <dd><span><code>{`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_FAMILY`}</code> </span></dd>
    </div>
  </dl>
  <p><code>font-weight</code></p>
  <dl>
    <div>
      <dt>Value</dt>
      <dd><code>{typographyClass[`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_WEIGHT`]}</code></dd>
    </div>
    <div>
      <dt>Token</dt>
      <dd><span><code>{`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_WEIGHT`}</code> </span></dd>
    </div>
  </dl>
  <p><code>font-size</code> default</p>
  <dl>
    <div>
      <dt>Value</dt>
      <dd><code>{typographyClass[`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_SIZE_VIEWPORT_DEFAULT`]}</code></dd>
    </div>
    <div>
      <dt>Token</dt>
      <dd><span><code>{`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_SIZE_VIEWPORT_DEFAULT`}</code> </span></dd>
    </div>
  </dl>
  <p><code>font-size</code> basketball-court</p>
  <dl>
    <div>
      <dt>Value</dt>
      <dd><code>{typographyClass[`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_SIZE_VIEWPORT_BASKETBALL_COURT`]}</code></dd>
    </div>
    <div>
      <dt>Token</dt>
      <dd><span><code>{`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_SIZE_VIEWPORT_BASKETBALL_COURT`}</code> </span></dd>
    </div>
  </dl>
  <p><code>font-size</code> rugby-pitch</p>
  <dl>
    <div>
      <dt>Value</dt>
      <dd><code>{typographyClass[`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_SIZE_VIEWPORT_RUGBY_PITCH`]}</code></dd>
    </div>
    <div>
      <dt>Token</dt>
      <dd><span><code>{`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_SIZE_VIEWPORT_RUGBY_PITCH`}</code> </span></dd>
    </div>
  </dl>
</div>
