---
import { typography } from '@scripts/tokens';

const { level } = Astro.props;

const typographyClass = typography[level];
---

<slot />

<dl class="spec-list">
  <p><code>font-family</code></p>
  <div>
    <dt>Value</dt>
    <dd><code>{typographyClass[`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_FAMILY`]}</code></dd>
  </div>
  <div>
    <dt>Token</dt>
    <dd><code>{`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_FAMILY`}</code></dd>
  </div>
  <p><code>font-weight</code></p>
  <div>
    <dt>Value</dt>
    <dd><code>{typographyClass[`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_WEIGHT`]}</code></dd>
  </div>
  <div>
    <dt>Token</dt>
    <dd><code>{`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_WEIGHT`}</code></dd>
  </div>
  <p><code>font-size</code> default</p>
  <div>
    <dt>Value</dt>
    <dd><code>{typographyClass[`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_SIZE_VIEWPORT_DEFAULT`]}</code></dd>
  </div>
  <div>
    <dt>Token</dt>
    <dd><code>{`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_SIZE_VIEWPORT_DEFAULT`}</code></dd>
  </div>
  <p><code>font-size</code> basketball-court</p>
  <div>
    <dt>Value</dt>
    <dd><code>{typographyClass[`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_SIZE_VIEWPORT_BASKETBALL_COURT`]}</code></dd>
  </div>
  <div>
    <dt>Token</dt>
    <dd><code>{`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_SIZE_VIEWPORT_BASKETBALL_COURT`}</code></dd>
  </div>
  <p><code>font-size</code> rugby-pitch</p>
  <div>
    <dt>Value</dt>
    <dd><code>{typographyClass[`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_SIZE_VIEWPORT_RUGBY_PITCH`]}</code></dd>
  </div>
  <div>
    <dt>Token</dt>
    <dd><code>{`THEME_TYPOGRAPHY_${typographyClass.tokenFinder}_FONT_SIZE_VIEWPORT_RUGBY_PITCH`}</code></dd>
  </div>
</dl>
